services:
  web:
    build: .
    container_name: php
    volumes:
      - ./web:/var/www/html
    ports:
      - 8000:80
    depends_on:
      - db
  db:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: mydb
    ports:
      - 3306:3306
    volumes:
      - ./db:/var/lib/mysql
      